:root {
    --font-family--heading: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    --font-family--body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    --font-size-small: 0.8rem;
    --color-primary: hsl(193.73, 85.57%, 19.02%);
    --color-secondary: hsl(194.26, 82.43%, 29.02%);
    --color-tertiary: hsl(189.71, 43.04%, 69.02%);
    --color-neutral: hsl(194.26, 10%, 90%);
    --color-warning: hsl(44.93, 93.78%, 44.12%);
    --color-danger: hsl(345.21, 93.78%, 44.12%);
    --color-white: hsl(0, 0%, 100%);
    --color-text: hsl(193.73, 85.57%, 10%);
    --color-link: hsl(194.26, 82.43%, 29.02%);
    --color-border: hsl(194.26, 10%, 50%);
    --color-container-neutral: hsl(0, 100%, 100%);
}

html,
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: var(--color-neutral);
    font-family: var(--font-family--body);
    font-weight: 300;
    width: 100%;
    color: var(--color-text);
}

#root {
    display: flex;
    place-items: center;
    place-content: center;
    margin: 1rem;
    min-height: calc(100dvh - 2rem);
}

p {
    font-weight: 400;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-link);

    &:hover {
        border-bottom: 2px solid #1a1136;
        color: var(--color-primary);

        &::after {
            content: "";
        }
    }

    &:active {
        color: var(--color-link);
    }

    &.button {
        border: 0;
    }
}

h1,
h2 {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    font-weight: 300;
    font-size: 2.5rem;
    margin: 0;
    font-family: var(--font-family--heading);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

header {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--color-container-neutral);
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--color-border);
}

main {
    margin: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.alert {
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    &.error {
        background-color: rgb(195, 39, 39);
        color: #fff;
    }
}

.element {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .error {
        display: none;
        color: var(--color-danger);
        font-size: 0.8rem;
        margin: 0;
    }

    &.signup {
        display: flex;
        place-items: center;

        p {
            margin: 0;
        }
    }

    &.confirmation {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 0.5rem;
    }
}

button {
    display: inline-flex;
    place-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 500;
    font-size: 1.2rem;

    &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
    }

    &:hover {
        background-color: var(--color-secondary);
    }

    &:active {
        background-color: var(--color-secondary);
    }

    &.secondary {
        background-color: var(--color-white);
        color: var(--color-text);
        border: 1px solid var(--color-secondary);

        &:hover {
            background-color: var(--color-neutral);
        }

        &:active {
            background-color: var(--color-white);
        }
    }

    &.small {
        padding: 0.3rem 0.5rem;
        font-size: 1rem;
    }

    &.block {
        width: 100%;
    }
}

input {
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-border);
    font-size: 1rem;
    outline: none;

    &:focus {
        border: 2px solid var(--color-primary);
    }

    &:hover {
        border-color: var(--color-primary);
    }

    &::placeholder {
        font-weight: 300;
        font-size: 1rem;
        font-family:
            "Open Sans",
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;
    }

    &:user-invalid {
        & + .error {
            display: block;
        }
    }

    &:user-invalid:not(:focus):not(:hover) {
        border-color: var(--color-danger);
    }
}

form[data-submitted="true"] {
    input:invalid,
    select:invalid,
    textarea:invalid {
        border-color: var(--color-danger);

        & + .error {
            display: block;
        }
    }
}

.divider {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;

    &::before,
    &::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid var(--color-border);
    }

    &::before {
        margin-right: 1rem;
    }

    &::after {
        margin-left: 1rem;
    }
}

.m {
    &-t {
        &-1 {
            margin-top: 1rem;
        }

        &-2 {
            margin-top: 2rem;
        }

        &-3 {
            margin-top: 3rem;
        }
    }

    &-b {
        &-1 {
            margin-bottom: 1rem;
        }

        &-2 {
            margin-bottom: 2rem;
        }

        &-3 {
            margin-bottom: 3rem;
        }
    }
}
