.error {
    color: rgb(145, 4, 4);;
    font-size: 0.8rem;
    margin: 1rem 0;
    padding: 1rem;
    font-family: monospace;
    background-color: rgb(255, 0, 0, 0.1);
    border: 1px solid rgb(215, 1, 1);
    border-radius: 0.5rem;
}